SCOPELENS_POSTGRES_PASSWORD=
SCOPELENS_API_TOKEN=
SCOPELENS_API_PORT=8000
SCOPELENS_DASHBOARD_PORT=8080
SCOPELENS_DEMO_PORT=8081
SCOPELENS_CORS_ORIGIN=http://127.0.0.1:8080
SCOPELENS_API_URL=http://127.0.0.1:8000
SCOPELENS_CONFIG_PATH=./deploy/scope.lab.toml
